.navbar{
    width: 100%;
    padding-top:5%; 
    .navbar-nav{
     .nav-item{
         .nav-link{
             color: $white;
				line-height: 1.6rem; 
				opacity: 0.4;
				margin-left: 10px;
				margin-right: 10px;
				text-transform: uppercase;
				@media(min-width: 1281px){
					margin-left: 32px;
				    margin-right: 32px;
            }
          }
           &:hover, &:active, &.active{
				.nav-link{
					opacity: 1;
				}
			}
        }

    }
}